<!DOCTYPE html>
<html lang="en">

<head>
	<title>WEBAPP</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'webapp/css/bootstrap.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#fff">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row" style="background-color:#f1f1f1" center>
			<br>
			<div class="col-md-2"></div>
			<div class="col-md-1"><h4 align="center"><a href="/" style="color:#4c4c4c"><u>главная</u></a></h4></div>
			<div class="col-md-1"><h4 align="center"><a href="/ware/" style="color:#4c4c4c"><u>товары</u></a></h4></div>
			<div class="col-md-1"><h4 align="center"><a href="/services/" style="color:#4c4c4c"><u>услуги</u></a></h4></div>
			<div class="col-md-2"><h3 align="center"><a><u>JOJO</u></a></h3></div>
			<div class="col-md-1"><h4 align="center"><a href="/faq/" style="color:#4c4c4c"><u>FAQ</u></a></h4></div>
			<div class="col-md-1"><h4 align="center"><a href="/contacts/" style="color:#4c4c4c"><u>контакты</u></a></h4></div>
			<div class="col-md-1"><h4 align="center"><a href="https://vk.com" style="color:#4c4c4c"><u>VK</u></a></h4></div>
			<div class="col-md-2"></div>
			<br><br><br>
		</div>

		<br>
		<div class="row">
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>

	</footer>	
	
</body>

</html>