{% extends "webapp/header.html" %}
{% block content %}
{% load staticfiles %}
<center>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<a href="/services/">
				<img src="{% static 'webapp/images/index/banner2.png' %}">
			</a>
		</div>
		<div class="col-md-3"></div>
	</div>
</center>

<center>
	<div class="container-fluid">
		{% for post in object_list %}
			{{post.date}}
			{{post.title}}
			{{post.body}}
			<img src="{% static 'webapp/images/index/' %}{{post.img}}" class="responsive-img" style='max-height:250px;max-width:250px' alt="face">
			<br>
		{% endfor %}
	</div>
</center>


{% endblock %}