{% extends "webapp/header.html" %}
{% block content %}
{% load staticfiles %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2" >
			{% for post in object_list %}
			<div class="col-md-6" style="height: 380px">
				<table class="table" style="height: 330px">
					<tr class="info" style="height: 100px" >
						<td style="vertical-align:middle"><h4>{{post.head}}</h4></td>
					</tr>
					<tr class="info">
						<td><p><strong>50 см+: </strong>{{post.sm50price}}</p></td>
					</tr>
					<tr class="info">
						<td><p><strong>55 см+: </strong>{{post.sm55price}}</p></td>
					</tr>
					<tr class="info">
						<td><p><strong>60 см+: </strong>{{post.sm60price}}</p></td>
					</tr>
					<tr class="info">
						<td><p><strong>65 см+: </strong>{{post.sm65price}}</p></td>
					</tr>
					<tr class="info">
						<td><div style="height: 50px;"><p><strong>70 см+: </strong>{{post.sm70price}}</p></div></td>
					</tr>
				</table>
			</div>
				
			{% endfor %}
		</div>
	</div>






{% endblock %}